<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css">
    <link rel="stylesheet" href="CSS/style.css">
    <style>
    body{
         background: url(https://img3.akspic.com/image/672-photograph-blue-kiss-emotion-interaction-1920x1080.jpg?attachment=1) no-repeat center center fixed; 
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        overflow-y: scroll;
  		scroll-behavior: smooth;
    }   
    </style>
    <title>왓챠플레이 - 왕좌의 게임 시즌 8외 6만편 영화,드라마 무제한 감상 - 왓챠플레이</title>
</head>
<body>
<!-- ========================== swiper start=========================== -->

<!-- Swiper -->
  <div class="swiper-container">
    <div class="swiper-wrapper">
      <div class="swiper-slide"><img src="${pageContext.request.contextPath}/resources/images/img1.jpg" alt=""></div>
      <div class="swiper-slide"><img src="${pageContext.request.contextPath}/resources/images/img2.jpg" alt=""></div>
      <div class="swiper-slide"><img src="${pageContext.request.contextPath}/resources/images/img3.jpg" alt=""></div>
    </div>
    
    <!-- Add Pagination -->
    <div class="swiper-pagination"></div>
    <!-- Add Arrows -->
    <div class="swiper-button-next"></div>
    <div class="swiper-button-prev"></div>
  </div>  

   <!-- Initialize Swiper -->
    <script>
        var swiper = new Swiper('.swiper-container', {
            direction: 'vertical',
            slidesPerView: 1,
            spaceBetween: 30,
            mousewheel: true,
            pagination: {
                el: '.swiper-pagination',
                clickable: true,
            },
        });
    </script>

<!-- ========================== swiper end =========================== -->
    <div class="back-shadow">
          <header class="header-top">
              <div  class="top_header">
                  <div class="header-logo">
                    <a href="index.html" class="logo_link">
                      <i class="fa fa-play-circle-o" aria-hidden="true"></i>
                      <span class="watcha">WATCHA PLAY</span>
                    </a>
                  </div>
                  <div class="index-startButton">
                    <a href="signUp.html">
                      <span class="top-start_button1">시작하기</span>
                    </a>
                  </div>
              </div>
          </header>
          
          <main>
              <div class="main_promotion">
                  <span class="main_promotion-one">
                      매주 5백 편 신작 업데이트, 영화 드라마 무제한 감상
                  </span>
                  <span class="main_promotion-two">
                      Apple 앱스토어 "2018 올해를 빛낸 최고작" 선정
                  </span>
                  <a href="signUp.html">
                    <span class="main_promotion-three">
                          시작하기
                    </span>
                </a>
              </div>
              <div class="scroll_page">
                      <span class="scroll_page-circle1 select_page">
                        <a href="index.html">
                            <i class="fa fa-circle" aria-hidden="true"></i>
                        </a>
                      </span>
                      <span class="scroll_page-circle2">
                          <a href="startPage2.html">
                             <i class="fa fa-circle" aria-hidden="true"></i>
                          </a>
                      </span>
                      <span class="scroll_page-circle3">
                          <a href="startPage3.html">
                             <i class="fa fa-circle" aria-hidden="true"></i>
                          </a>
                      </span>
                      <span class="scroll_page-circle4">
                          <a href="startPage4.html">
                            <i class="fa fa-circle" aria-hidden="true"></i>
                          </a>
                      </span>
                  </div>
          </main>
      
          
          <section class="bottom">
              <span class="arrow_down">
                <a href="startPage2.html">
                  <i class="fa fa-arrow-circle-o-down" aria-hidden="true"></i>
                </a>
              </span>
          </section>
          
        </div>    
</body>
</html>